/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include ../../shared/downloads/downloads.inc.css

/*** Panel and outer controls ***/

#downloadsPanel {
  margin-top: -1px;
}

@keyfocus@ #downloadsSummary:focus,
@keyfocus@ .downloadsPanelFooterButton:focus {
  outline: 2px -moz-mac-focusring solid;
  outline-offset: -2px;
}

/*** List items and similar elements in the summary ***/

:root {
  --downloads-item-height: 7em;
  --downloads-item-border-top-color: hsla(0,0%,100%,.07);
  --downloads-item-border-bottom-color: hsla(0,0%,0%,.2);
  --downloads-item-font-size-factor: 0.95;
  --downloads-item-target-margin-bottom: 6px;
  --downloads-item-details-margin-top: 0;
  --downloads-item-details-opacity: 0.7;
}

.downloadButton:focus > .button-box {
  outline: 2px -moz-mac-focusring solid;
  outline-offset: -2px;
}

/*** Highlighted list items ***/

@notKeyfocus@ @itemFinished@[exists]:hover,
@item@[showingsubview] {
  background-color: Highlight;
  color: HighlightText;
}

@keyfocus@ @itemFocused@ {
  outline: 2px -moz-mac-focusring solid;
  outline-offset: -2px;
}

@item@[showingsubview] {
  transition: background-color var(--panelui-subview-transition-duration),
              color var(--panelui-subview-transition-duration);
}

@notKeyfocus@ @item@[verdict="Malware"] {
  color: hsl(4, 82%, 47%);
}

@keyfocus@ @itemFocused@[verdict="Malware"],
@notKeyfocus@ @item@[verdict="Malware"]:hover,
@item@[showingsubview][verdict="Malware"] {
  background-color: hsl(4, 82%, 47%);
  color: white;
}

@notKeyfocus@ @itemFinished@[exists]:hover {
  cursor: pointer;
}
