/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include ../../shared/downloads/downloads.inc.css

/*** Panel and outer controls ***/

@keyfocus@ #downloadsSummary:focus,
@keyfocus@ .downloadsPanelFooterButton:focus {
  outline: 1px -moz-dialogtext dotted;
  outline-offset: -5px;
}

/*** List items and similar elements in the summary ***/

:root {
  --downloads-item-height: 6em;
  --downloads-item-border-top-color: hsla(0,0%,100%,.2);
  --downloads-item-border-bottom-color: hsla(0,0%,0%,.15);
  --downloads-item-font-size-factor: 0.9;
  --downloads-item-target-margin-bottom: 7px;
  --downloads-item-details-margin-top: 1px;
  --downloads-item-details-opacity: 0.6;
}

.downloadButton:focus > .button-box {
  outline: 1px -moz-dialogtext dotted;
}

/*** Highlighted list items ***/

@keyfocus@ @itemFocused@ {
  outline: 1px -moz-dialogtext dotted;
  outline-offset: -1px;
}

@item@[showingsubview] {
  background-color: Highlight;
  background-image: linear-gradient(hsla(0,0%,100%,.1), transparent);
  color: HighlightText;
  cursor: pointer;
}

@notKeyfocus@ @item@[verdict="Malware"]:hover,
@item@[showingsubview][verdict="Malware"] {
  background-color: hsl(6, 89%, 35%);
  color: white;
}
